body{
	font-family: 'Rubik', sans-serif !important;
	margin:0;
}
/*testing*/

/*end testing*/
/*lionsun------------------------------------------------------------*/
.container-background-img{
	background-image: url(../images/bg-header.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
}
.test-background{
	background-image: url(../images/bg-portfolio.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
}
.test-background img{
	width: 300px;
}
/*language dropdown */
.home-menu .action-menu-dropdown:focus .action-menu, .home-menu  .action-menu-dropdown:hover .action-menu {
	visibility: visible;
	opacity: 1;
	z-index: 500;
	transform: translateY(0%);
	transition-delay: 0s, 0s, 0.3s;
	background: #fff;
	box-shadow: 0px 0px 10px 0px #ddd;
	margin-top: 2px !important;
	text-align: left;
	max-width: 200px;
	width: 200%;
}
.home-menu .action-menu li a{
	padding: 15 !important;
	color: #000;
}
.action-menu-dropdown { 
	position: relative; 
}
.action-menu { 
	list-style-type: none;
	padding: 0;
	background: #fff;
	box-shadow: 0px 0px 10px 0px #ddd;
	visibility: hidden; /* hides action-menu */
	opacity: 0;
	position: absolute;
	top: 100%;
	text-align: left;
	right: 0;
	left: auto;
	min-width: 130px;
	transform: translateY(-2em);
	/*z-index: -1;*/
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.action-menu li{
	border-bottom: 1px solid #eee;
	padding: 10px;
	width: 100%;
	word-break: break-all;
}

.action-menu-dropdown:focus .action-menu,
/*.action-menu-dropdown:focus-within .action-menu,*/
.action-menu-dropdown:hover .action-menu {
	visibility: visible; /* shows action-menu */
	opacity: 1;
	z-index: 1;
	transform: translateY(0%);
	transition-delay: 0s, 0s, 0.3s; 
	/* this removes the transition delay so the menu will be visible while the other styles transition */
}
/*end  dropdown*/
/*end of lionsun-----------------------------------------------------*/
.home-header-row{
	transition: 1.5s all;
	width: 1280px;
	margin: 0 auto;
}
@media (min-width: 1280px){
	.container {
		max-width: 1280px;
	}
}
.container-background{
	/*background: url("../images/img-back.png") no-repeat top;*/
	/*max-width: 1280px !important;*/
	/*margin: 0 auto;*/
}

/*header menu*/
.home-logo img {
	width: 200px;
	padding: 20px 20px 20px 0px;
}
/*home menu hover effects*/
.home-menu-links a {
	font-size: 14px;
	color: #fff;
	font-weight: 300;
	text-decoration: none;
	padding: 10px 0px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	/*border-bottom: 2px solid #fff0;*/
}
.header.scrolling .home-menu-links a {
	color: #000 !important;
}
.custom-border-bottom {
	width: 0px;
	height: 2px;
	bottom: 0;
	background: #fff;
	-webkit-transition: width 0.5s; /*For Safari 3.1 to 6.0 */
	transition: width 0.5s;
}
@media (min-width: 768px){
	.home-menu-links ul li:hover .custom-border-bottom{
		width: 100% !important;
	}
	.home-menu-links ul li a:hover{
		/*color:#A9FD00 !important;*/
	}
}
.home-menu-links ul li a.active{
	border-bottom: 2px solid #A9FD00;
	color: #A9FD00 !important;
	margin-bottom: -2px;
}

/*end of hover effects*/
.home-menu{
	padding: 20px 0 0 0;
}
.home-menu ul li{
	padding: 0 15px;
}
.social-links{
	padding: 25px 15px 0 0;
}
.social-links i{
	width: 30px;
	height: 30px;
	color: #fff;
	font-size: 14px;
	padding: 7px 11px 0 9px;
	box-shadow: 0px 2px 5px #EAD6C8;
	transition: border-radius 1s;
	-webkit-transition: border-radius 1s; /* Safari 3.1 to 6.0 */
}
.social-links li:hover i{
	padding: 7px 11px 0 9px;
	background: #fff !important;
	box-shadow:0px 1px 6px #ab9382;
}
.social-links li .fa-facebook-f{
	background: #4A4E8B;
	border: 1px solid #fff0;
}
.social-links li:hover .fa-facebook-f{
	color: #4A4E8B;
	border: 1px solid #4A4E8B;
}
.social-links li .fa-linkedin{
	background: #356FAA;
	border: 1px solid #fff0;
}
.social-links li:hover .fa-linkedin{
	color: #356FAA;
	border: 1px solid #356FAA;
}
.social-links li .fa-twitter{
	background: #5395DE;
	border: 1px solid #fff0;
}
.social-links li:hover .fa-twitter{
	color: #5395DE;
	border: 1px solid #5395DE;
}
.info-content{
	margin:150px auto 50px auto;
}

/*end of header menu*/
/*home body */
#process{
	padding: 0 20px;
}
.home-cheff-image  img {
	max-width: 400px;
}
/*end of home body*/

/*footer */
.footer-section{
	background:rgb(253,253,253);
}
.footer-block .footer-logo {
	/*border-right: 1px solid #D2C9BB;*/
	padding-left: 5px;
}
.footer-block .text-level-3 {
	padding-left: 5px
}
.footer-block{
	padding:10px;
}
.footer-logo img {
	width:150px;
}
.text-level-3{
	font-size: 12px;
	color: #ccb6b6;
}
.footer-block .footer-logo{
	/*border-right: 1px solid #D2C9BB;*/
	padding-right: 0;
}
.footer-logo img {
	padding-bottom: 28px;
}
.contact-block{ 
	padding-left: 5px;
}
.address-block{
	padding-left: 5px;
}
.footer-center-block {
	padding: 0px 100px 0 30px;
	/*border-right: 1px solid #D2C9BB;*/
}
.text-level-4{
	font-size: 12px;
	color: #43403B;
}
.contact-block .text-level-4 a {
	color: #43403B;
}
.footer-info-block-hidden{
	display: none;
}
/*end of footer*/

/*images gallery*/
#portfoliolist{
	padding: 0 25px;
}
.portfolio-project-title {
	color: #415cb3;
	font-size:22px;
	font-weight:600;
	padding-top:5px;
}
.portfolio-project-description {
	color: rgb(78,78,78);   
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size:13px;
}

.viewbox-body {
	background: #fff !important;
}
.portfolio-project-link {
	border: 1px solid #415cb3;
	border-radius: 50px;
	padding: 2px 10px;
	margin-bottom:-10px;
	color: #415cb3;
	font-size:13px;
}
.portfolio-project-link:hover, .portfolio-project-link:focus {
	background: #415cb3;
	color: #fff;
	box-shadow:none !important;
}

.viewbox-inner-block{
	/* overflow: auto;
	height: 700px
	border-radius: 10px;*/
}

.viewbox-container{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(200, 200, 200,0.5);
	z-index: 700;
}
.viewbox-body{
	position: absolute;
	top: 47%;
	left: 50%;
	padding:5px;
	background: #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.viewbox-header{
	/*margin: 10px;
	max-height: 95px;
	overflow-y: scroll;
	padding-right: 10px;*/
	margin: 0px auto;
}

.viewbox-content{
	/*margin: 10px;*/
	width: 300px;
	height: 300px;
	text-align: center;
}

.viewbox-footer{
	margin: 10px;
}
.viewbox-content .viewbox-image{
	/*height: 90%;*/
	max-height: 450px;
	width: 100%;
	/*margin: 0px auto;*/
}
.viewbox-button-default{
	cursor: pointer;
	height: 64px;
	width: 64px;
}
.viewbox-button-default > svg{
	width: 100%;
	height: 100%;
	background: inherit;
	fill: inherit;
	pointer-events: none;
	transform: translateX(0px);
}
.viewbox-button-default{
	fill: #fff;
}
.viewbox-button-default:hover{
	fill: #999;
}
.viewbox-button-close{
	position:absolute;
	top:80px;
	right: 20px;
	z-index:9;
}
.viewbox-button-next,
.viewbox-button-prev{
	position:absolute;
	top: 50%;
	height: 128px;
	width: 128px;
	margin: -64px 0 0;
	z-index:9;
}
.viewbox-button-next{
	right: 10px;
}
.viewbox-button-prev{
	left: 10px;
}
@media (max-width: 480px) {
	.viewbox-button-close{
		top: 70px;
		right: 3px;
	}
	.viewbox-button-next,
	.viewbox-button-prev{
		height: 81px;
		width: 81px;
		margin-top: -40px;
	}
	.viewbox-button-next{
		right:-15px;
	}
	.viewbox-button-prev{
		left:-15px;
	}
	.viewbox-body{
		left:20%;
	}
}
@media (max-width: 770px) {

	.viewbox-body{
		left:50%;
	}
	.viewbox-button-next, .viewbox-button-prev{
		display:none;
	}
}


/* loader */
.page-header{
	/*padding: 25px 15px 0 15px;*/
}
.viewbox-container .loader{
	widows: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin:-25px 0 0 -25px;
}
.viewbox-container .loader *{
	margin: 0;
	padding: 0;
}

.viewbox-container .loader .spinner{
	width: 50px;
	height: 50px;
	position: relative;
	margin: 0 auto;
}
.viewbox-container .loader .double-bounce1,
.viewbox-container .loader .double-bounce2{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #999;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}
.viewbox-container .loader .double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce{
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce{
	0%, 100% { 
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
		} 50% { 
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
		}
	}

	/* View Box */


	/*svgs*/

	.svg-black{
		stroke:#000;
		fill:#000;
	}
	.services-row {
		margin:40px auto 50px auto !important;
	}
	.services-row .info-content{
		margin:50px auto 50px auto !important;
	}
	.services-background{
		/*padding-bottom: 20px;*/
		/*background-color: #4686a0;*/
		/*color: rgba(255, 255, 255, 0.75);
		background-attachment: fixed,	fixed,	fixed;
		background-image: url(images/overlay2.png), url(images/overlay3.svg), linear-gradient(45deg, #3a4641 5%, #555 30%, #eee);
		background-position: top left,	center center,	center center;
		background-size: auto,	cover,	cover;
		overflow: hidden;
		position: relative;*/

	}
	.services-row h1{
		color: #fff;
	}
	.services-row .heading-level-3{
		color: #fff;
	}
	.services-row p{
		color: #ddd;
	}
	.about-row{
		margin-bottom: 30px !important;
	}
	.footer-section p{
		color:#000;
	}
	.footer-section .heading-level-4{
		color:#eee;
	}
	.contact-row {
		margin:40px auto 50px auto !important;
	}
	.contact-row .info-content{
		margin:50px auto 50px auto !important;
	}
	.contact-row h1, .contact-row p{
		color: #000;
	}
	.testimonials-row{
		margin-bottom: 50px !important; 
	}
	.footer-test img{
		width: 100%;
	}