html {
	overflow-y: scroll;
}


#info {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;				
	background:#fcf8e3;
	border:1px solid  #fbeed5;
	width:95%;
	max-width:900px;
	margin:0 auto 40px auto;
	font-family:arial;
	font-size:12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

#info .info-wrapper {
	padding:10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;

}

#info a {
	color:#c09853;
	text-decoration:none;
}

#info p {
	margin:5px 0 0 0;
}


.container { 
	position: relative; 
	margin: 0 auto; 
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;	
}

#portfolio-filters {
	padding:0;
	list-style:none;
	margin-left:0px !important;
}

#portfolio-filters li {
	float:left;
	padding-left:0px !important;


}

#portfolio-filters li span {
	/*padding:2px 15px;
	border:1px solid #fff;		
	text-decoration:none;
	color:#eee;
	border-radius:50px;
	cursor: pointer;
	font-weight:400 !important;
	font-size:17px;
	transition:ease-in-out 0.5s;

	*/
}

#portfolio-filters li span.active, #portfolio-filters li span:hover {
	/*background: rgb(193, 26, 32);
	border:1px solid #e95a44
	color:#fff;
	*/
}

#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:23%;
	margin:1%;
	display:none;
	float:left;
	overflow:hidden;
}

.portfolio-wrapper {
	overflow:hidden;
	position: relative !important;
	background: transparent;
	cursor:pointer;
	min-height: 200px;
}

.portfolio img {
	
	max-height: 280px;
	position: relative;
	top:0;
	-webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);		
}

.portfolio .label {
	position: absolute;
	width: 100%;
	height:40px;
	bottom:-40px;
	-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label-bg {
	background: rgba(65, 92, 179, .75);
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}

.portfolio .label-text {
	color:#fff;
	position: relative;
	z-index:500;
	font-size:20px;
	font-weight:500;
	text-align:center;
	padding:5px 8px;
}

.portfolio .text-category {
	display:block;
	font-size:9px;
}

.portfolio:hover .label {
	bottom:0;
}
.portfolio:hover img {
	top:-30px;
}  


@media only screen and (max-width: 600px) {
	#portfolio-filters li span {
		padding: 2px 6px;
		font-size: 12px;
	}

}


@media only screen and (min-width: 768px) and (max-width: 959px) {

}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	
	
	#portfoliolist .portfolio {
		width:48%;
		margin:1%;
	}		

	#ads {
		display:none;
	}
	
}


/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {

	
	#ads {
		display:none;
	}
	
}

/* #Clearing */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0; }
	.row:after,
	.clearfix:after {
		clear: both; }
		.row,
		.clearfix {
			zoom: 1; }

			.clear {
				clear: both;
				display: block;
				overflow: hidden;
				visibility: hidden;
				width: 0;
				height: 0;
			}
