@media (min-width: 1280px){
  .container-fluid-footer{
   /* max-width:1280px;*/
   margin:0 auto; 
 }
 #mySidenav .closebtn {
  display: none;
}
.row-stretched{
  width:1280px;
  margin:0px auto !important; 
}
.footer-block{
  max-width:1280px !important;
  margin:0px auto !important;
  padding:20px;
}
.hidden{
  display: none;
}
.btw-line {
  width: 70px;
}
.row{
  margin:0;
}
}

@media (max-width: 600px){
  .viewbox-content{
    width: 220px !important
  }
  .viewbox-content .viewbox-image{
   /* height: 90%; */
   max-height: 450px;
   width: 220px;
   margin: 0px auto;
   align-items: center;
   flex-wrap: wrap;
   vertical-align: middle;
   max-width: 200px;
   width: 100%;
   margin: 0px auto !important;
 }
 .viewbox-header{
  width: 220px !important;

}
}




@media (min-width: 992px) and (max-width: 1279px) {

  .container {
    max-width: 100%;
  }
  .container-fluid {
    padding:0;
  }
/*  .container-fluid-footer{
    max-width:1068px;
    margin:0 auto; 
    }*/
    .scrolling{
      max-width:100% !important;
    }
    .row{
      margin: 0px;
    }
    /*header menu*/
    .header.scrolling {
      margin-left: 0;
      margin-right: 0;
    }
    .home-header-row {
      width: 100%;
    }
    .header {
      width: 100%;
    }
    .home-logo img {
      width: 160px;
    }
    .home-menu ul li {
      padding: 0 6px;
    }
    .home-menu-links a {
      font-size: 13px;
      /*padding: 9px 0px;*/
    }
    .hidden{
      display: none;
    }
    /*end of header menu*/

    /*toggle menu*/
    .toggle-btn span{
      display: none;
    }
    #mySidenav .closebtn{
      display: none;
    }
    /*end of toggle menu*/

    /*we build section*/
    .home-build-field {
      padding-left: 65px;
      bottom: 205px;
      margin-top: -80px;
    }
    .heading-level-1 {
      font-size: 110px;
      padding-top: 0;
    }
    .heading-level-2 {
      font-size: 38px;
    }
    .text-level-1 {
      font-size: 14px;
    }
    .home-build-field {
      padding-left: 43px;
    }
    .home-cheff-image img {
      max-width: 100%;
    }
    .about-content {
      /* padding: 0px 55px; */
  /*  max-width: 400px;
  margin: 0 auto;*/
}
#about .about-content {
  padding: 0px 30px;
}
/*end of we build section*/

/*about us section styling*/
.info-block {
  height: 300px;
}
.info-block img {
  padding: 10px 0;
  width: 60px;
}
.info-block p {
  padding: 0px 5px;
}
/*end of about us section*/

/*services section styling*/
.services-row{
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 10% !important;
  margin-right: 10% !important;
}
.services-row .info-content p {
  padding-left: 150px;
  padding-right: 150px;
}

.services-info-block {
  height: auto;
}
/*end of services section styling*/

/*portfolio section styling*/
#portfoliolist{
  padding: 0 10px;
}
.portfolio-info-block img {
  max-width: 100%;
}
.portfolio-info-block {
  width: 100%;
  margin-bottom: 15px !important;
}
.text {
  font-size: 15px;
}
.portfolio-row .home-menu .list-inline {
  float: none;
  text-align: center;
}
/*end of portfolio section styling*/

/*our process section styling*/
.btw-line {
  width: 5%;
}
.heading-level-2-sm {
  font-size: 20px;
}
/*end of our process section styling*/

/*client section styling*/
/*end of client section styling*/

/*testimonials section styling*/
.test-info-block {
  padding: 0px 25px;
}
/*end of testimonilas section styling*/

/*contact section*/

.contact-row .info-content p {
 padding: 0px 0px 0px 0; 
}
.contact-row .info-content .user-info {
  margin: 0 130px;
}
/*end of contact section*/



/*footer*/
.footer-info-block{
  padding: 0;
}

.footer-center-block{
 padding: 0 50px 0 10px;
}
.contact-block {
 padding: 0 10px;
}
/*end of footer*/
}














@media (min-width: 992px) and (max-width: 1200px) {
  .home-menu-links a {
    /*padding: 9.5px 0px;*/
  }
  .portfolio-wrapper {
    min-height: 165px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
    max-width: 100%;
  }
  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  }
  .row{
    margin: 0;
  }
  /*header menu*/
  .header.scrolling {
    margin: 0px 0;
  }
  .home-header-row {
    width: 100%;
  }
  .home-logo img {
    width: 150px;
  }
  .home-logo{
    padding: 0;
  }
  .home-menu {
    padding: 20px 0 0 0px;
  }
  .home-menu ul li {
    padding: 0 4px;
  }
  .home-menu-links a {
    font-size: 13px;
    /*padding: 9px 0px;*/
  }
  .social-links {
    padding: 0px 0px 0 0;
  }
  .hidden{
    display: none;
  }
  /*end of header menu*/

  /*toggle menu*/
  .toggle-btn span{
    display: none;
  }
  #mySidenav .closebtn{
    display: none;
  }
  /*end of toggle menu*/

  /*we build section*/
  .build-row {
    padding-top: 105px;
  }
  .heading-level-1 {
    font-size: 100px;
    padding-top: 0;
  }
  .heading-level-2 {
    font-size: 30px;
  }
  .heading-level-2a {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .heading-level-2a {
    font-size: 28px;
  }
  .text-level-1 {
    font-size: 14px;
  }
  .build-row .heading-level-2 {
    padding-bottom: 0px;
  }
  .home-build-field {
    padding-left: 40px;
    margin-top: -68px;
  }
  .home-cheff-image img {
    max-width: 100%;
  }
  .btn-red {
    width: 215px;
    padding: 7px 0;
    height: 35px;
    font-size: 12px;
  }
  .services-row {
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  /*end of we build section*/
  /*about us section styling*/
  .info-content {
    margin: 150px auto 15px auto;
  }
  .info-block p {
    padding: 0px 10px;
  }
  .about-content {
    padding: 0px 20px;
  }
  .about-info-block #Capa_1 {
    width: 80px;
  }
  .about-info-block {
    min-height: 375px;
  }
  .info-block img {
    padding: 10px 0;
    width: 60px;
  }
  .info-block p {
    padding: 0px 10px;
  }
  /*end of about us section*/
  /*services section styling*/
  .services-row .info-content p {
    padding-left: 150px;
    padding-right: 150px;
  }
  .services-info-block {
    height: auto;
  }
  /*end of services section styling*/

  /*portfolio section styling*/
  .portfolio-info-block img {
    width: 100%;
  }
  .portfolio-info-block {
    width: 100%;
    margin-bottom: 10px;
  }
  .text {
    font-size: 15px;
  }
  /*.portfolio-row .home-menu .list-inline {
    float: none;
    text-align: center;
    }*/
    .clients-info-block img {
      max-width: 100px;
      max-height: 100px;
    }
    .portfolio-wrapper {
      min-height: 130px;
    }
    .portfolio-project-link {
      font-size: 14px;
      padding: 5px 10px;
    }
    .portfolio-project-title {
      font-size: 23px;
    }
    .portfolio-project-description {
      font-size: 14px;
    }
    /*end of portfolio section styling*/
    /*our process section styling*/
    .heading-level-2-sm {
      font-size: 20px;
    }
    /*end of our process section styling*/

    /*client section styling*/
    /*end of client section styling*/

    /*testimonilas section styling*/
    .test-info-block {
      padding: 0px 15px;
    }
    .test-info-block .info-block {
     min-height: 340px; 
   }
   /*end of testimonilas section styling*/

   /*contact section styling*/
   .contact-row .info-content p {
    padding: 0px 0px 0px 0;
  }
  .contact-row .info-content .user-info {
    margin: 0 80px;
  }
  .input-field {
    height: 50px;
    margin-bottom: 15px;
  }
  /*end of contact section styling*/



  /*footer*/
  .footer-info-block{
    padding: 0;
  }
  .footer-block .footer-logo {
    padding: 0;
  }
  .footer-center-block{
    padding: 0 10px;
  }
  .contact-block {
    padding: 0 10px;
  }
  .footer-block .footer-logo {
    padding-right: 5px;
  }
  .footer-block {
    padding: 10px 10px 10px 0;
  }
  /*end of footer*/
}












@media (min-width: 320px) and (max-width: 767px) {
  .container {
    padding-right: 5px;
    padding-left: 5px;
    max-width: 100%;
  }
  .container-fluid {
    padding-right: 5px;
    padding-left: 5px;
  }
  .row{
    margin: 0;
  }
  /*header menu*/
  .header.scrolling{
    height: 60px;
    border-bottom: 1px solid #EFE5D5;
    margin: 0px 0 !important;
  }
  .home-logo img {
    width: 130px;
    padding: 10px 0px 0px 0px;
  }
  .home-logo{
    width: 50%;
    padding: 0;
  }
  .home-menu {
    padding: 0;
    width: 50%;
  }
  .home-header .text-right {
    padding: 0;
  }
  /*social icon inside toggle bar*/
  .hidden .social-links {
    padding: 0px 0px 0 0;
    text-align: center;
  }
  .home-menu .hidden .social-links li {
    padding: 0 0px;
  }
  .home-menu .hidden .social-links a {
    padding: 0px 0px 0px 0px;
  }
  .hidden{
    display: block;
  }
  .show{
    display: none;
  }
  .home-menu-links .hidden ul li a:after{
    display: none;
  }
  /*end of icon inside toggle bar*/

  /*end of header menu*/

  /*toggle menu*/
  .toggle-btn{
    color: #000;
    display: block;
    text-align: right;
    padding-right: 5px;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .sidenav a {
   padding: 30px 15px 15px 15px;

 }
 .sidenav .closebtn {
  color: #000 !important;
  position: absolute;
  top: -35px;
  right: 10px;
  font-size: 36px;
}
/*end of toggle menu*/

/*we build body content*/
.heading-level-1 {
  font-size: 45px;
  padding-top: 5px;
}
.heading-level-2a {
  font-size: 24px;
}
.home-build-field {
  padding: 0 17px;
  margin-top: -42px;
}
.heading-level-2 {
  font-size: 20px;
}
.text-level-1 {
  font-size: 12px;
}
.home-build-field .text-level-1 {
  padding-bottom: 0px;
}
.btn-red {
  width: 180px;
  padding: 7px 0;
  height: 30px;
  font-size: 10px;
}
.home-build-field .info-btn{
  text-align: center;
}
.home-cheff-image img {
  max-width: 100%;
  width: 400px;
}
.home-cheff-image{
  padding-top: 20px;
  text-align: center;
}
/*end of we build content*/



/*about us responsive styling */
.about-row{
  margin-bottom: 20px;
}
.build-row {
  padding-top: 70px;
}
.info-content {
  margin: 65px auto 0px auto;
  padding-left: 20px;
  padding-right: 20px;
}
.about-content {
  padding: 0px 20px;
}
.info-block {
  height: auto;
  padding: 10px 0;
  margin: 10px auto;
  max-width: 400px;
}
.info-block img {
  padding: 10px 0;
  width: 50px;
}
/*end of about us responsive styling*/

/*services section responsive styling*/

.services-info-block img{
  padding: 10px 0;
  width: 50px;
}
.services-row .info-content p {
 padding-left: 15px; 
 padding-right: 15px; 
}
.services-info-block {
  padding: 20px 20px;
  margin: 5px auto;
  border-bottom: 1px solid #EFE5D5;
}
.services-row .col-md-4:nth-child(-n+4) {
 border-bottom: none; 
}
.services-row .col-md-4:nth-child(3n) {
  border-left: 0;
  border-right:0;
}
.services-row .col-md-4:hover{
  -webkit-box-shadow:none;
  box-shadow: none;
  border:none;
}
.services-row .services-info-block{
  max-width: 400px;
}
.services-row .services-info-block:hover{
  -webkit-box-shadow: 0 0 20px #EFE5D5;
  box-shadow: 0 0 20px #EFE5D5;
  -moz-box-shadow: 0 0 20px #EFE5D5;
  border:none;
  max-width: 400px;
}
.services-row #Capa_1 {
  margin: 10px auto;
}
.services-row {
  margin-left: 0% !important;
  margin-right: 0% !important;
}
/*end of services section responsive styling*/

/*portfolio section styling*/

.portfolio-row{
  margin-bottom: 20px;
}
.portfolio-row .home-menu {
  padding: 0;
  width: 100%;
}
.portfolio-row .home-menu ul li {
  padding: 0 10px;
}
.portfolio-info-block img {
  width: 100%;
}
.portfolio-info-block {
  width: 100%;
  margin:10px auto;
}
.portfolio-project-title {
  font-size: 20px;
}
.portfolio-project-description {
  font-size: 13px;
}
.portfolio-project-link {
  font-size: 10px;
  padding: 3px 10px;
}
.text {
  font-size: 16px;
}
.viewbox-button-default {
  height: 40px;
  width: 40px;
}
.viewbox-body {
  left: 50%;
  max-width: 90%;
  margin: 0 auto;
}
.portfolio-row .home-menu-links a {
  font-size: 13px;
  /*padding: 9px 0px;*/
}
.portfolio img {
  max-width: 100% !important;
}
#portfoliolist {
  padding: 0 25px;
  max-width: 100%;
}
.portfolio-wrapper {
  min-height: 120px;
  max-width: 100%;
}
.label-text .text-title{
  font-size: 12px;
}
/*end of portfolio section styling*/
/*our process section responsive styling*/
.heading-level-2-sm {
  font-size: 20px;
  font-weight: 700;
}
.process-row{
  margin-bottom: 20px;
}
.process-blocks {
  display: block;
  margin: 0 5px;
  padding-left: 0;
  padding-right: 0;
}
.btw-line {
  width: 0px;
  margin-top:0px;
}
/*end of our process section responsive styling*/




/*clients section styling*/
.clients-row{
  margin-bottom: 20px;
}
.clients-row .col-md-3 {
  margin-bottom: 10px;
}
.clients-info-block img {
  max-width: 90px;
  max-height: 90px;
}
.clients-info-block {
  margin: 5px auto;
}
.clients-info-block::before {
  -webkit-transform: translate(-40%, -50%);
  transform: translate(-40%, -50%);
}
/*end of clients section styling*/


/*testimonials section styling*/
.info-block p {
  padding: 0px 20px;
}
.test-info-block {
  padding: 0px 20px;
}
.testimonials-row{
  margin-bottom: 20px;
}
.testimonials-row .heading-level-3 {
  padding: 0px 0px 0px 0px;
}
/*end of testimonials section styling*/

/*contact section styling*/
.contact-row .info-content p {
  padding: 0px 0px 0px 0;
}
.contact-row .info-content .user-info {
  margin:0px;
}
.input-field {
  font-size: 12px;
  height: 40px;
  padding: 5px 14px;
  margin-bottom: 10px;
}
.comment-block {
  font-size: 12px;
  padding-left: 14px;
  margin-bottom: 30px;
}
.user-info span {
  font-size: 12px;
}
/*end of contact section styling*/



/*footer*/
.footer-block{
 padding: 40px 0 20px 0;
 text-align: center ;
}
.footer-logo img {
  width: 120px;
  padding-bottom: 10px;
}
.footer-info-block{
}
.footer-block .footer-logo {
  text-align: center !important;
  border-right:0;
}
.footer-center-block{
  padding: 0 30px;
}
.footer-info-block .pull-left{
  float:none;
}
.footer-info-block .pull-right{
  float:none;
}

.footer-info-block-hidden{
  width: 50%;
}
.address-block{
  width: 50%;
  float: left;
  border-right: 1px solid transparent;
}
.contact-block {
 padding: 0;
}
.footer-block .text-level-3 {
  padding: 0; 
}
.footer-center-block .heading-level-4 {
  margin-bottom: 5px;
}
/*end of footer*/
}
