.testing{
	border:1px solid black;
}
.testing1{
	border:1px solid yellow;
}
.testing2{
	border:1px solid blue;
}
.header {
	position: fixed;
	z-index: 1;
}
.header.scrolling {
	background: #fff;
	color: #000;
	box-shadow: 0 0 20px #EFE5D5;
	z-index: 100;
	width: 100%;
	transition:ease-in-out:4s !important;
}
.sidenav{
	display:inline;
}
/*body*/
.block-align .heading-level-2{
	padding-bottom: 25px;
}
.block-align .text-level-1 {
	padding-bottom: 25px;
}
/*end of body*/

/* scroll*/
::-webkit-scrollbar{
	width: 7px;
	border-radius:10px;
}

::-webkit-scrollbar-track {
	background: transparent; 
}

::-webkit-scrollbar-thumb {
	background: #415CB3; 
}

::-webkit-scrollbar-thumb:hover{
	background: #A9FD00; 
}
/* scroll*/



/*headings*/
.heading-level-1 {
	font-size: 50px;
	font-weight: 500;
	padding-top: 85px;
	top: 90px;
	color:#fff;

    /*color: rgba(23, 98, 220, 0.2);
    background: linear-gradient(to right, #A9FD00 10%, #415CB3 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}
.heading-level-2a{
	font-size: 46px;
	color:#415cb3;
	font-weight: 700;
	text-transform: uppercase;
}
.heading-level-2{
	font-size: 42px;
	font-weight: 700;
	text-transform: uppercase;
}
.heading-level-2-sm{
	font-size: 42px;
	font-weight: 700;
}
.heading-level-3{
	font-size: 14px;
	font-weight: 600;
}
.heading-level-4{
	font-size: 12px;
	font-weight: 600;
}
/*end of headings*/




/*text stylings*/
.text-level-1{
	font-size: 16px;
	color: #fff;
	bottom: 130px;
}

.text-level-2{
	font-size: 14px;
	color: #A49D92;
}
.text-level-3{
	font-size: 13px;
	color: #555;
}
.text-level-4{
	font-size: 12px;
	color: #43403B;
}
/*end of text styling*/




.home-build-field{
	/*padding-left: 75px;*/
	/*bottom: 205px;*/
	/*margin-top: -100px;*/
}
/*button field*/
.btn-red{
	background: transparent;
	color: #fff !important;
	border: 1px solid #fff;
	text-transform: uppercase;
	min-width: 180px;
	padding: 13px 20px;
	height: 45px;
	font-weight: 600;
	font-size: 12px;
	cursor: pointer;
}
.btn-red:hover, btn-red:focus{
	background: rgba(255, 255, 255, 0.25);
}

/*.btn-red{
	background: #415CB3;
	color: #fff !important;
	text-transform: uppercase;
	border-radius: 50px;
	min-width: 180px;
	padding: 13px 20px;
	height: 45px;
	font-weight: 600;
	font-size: 12px;
	cursor: pointer;
}
.btn-red:hover, btn-red:focus{
	background: #fff; 
	color: #415CB3 !important;
	border: 1px solid #415CB3;
	box-shadow:none !important;
	}*/
	.toggle-btn{
		display: none;
	}
	.toggle-btn span{
		position: fixed;
		right: 10px;
		font-size:30px;
		cursor:pointer;
	}
	/*end of button field*/





	/*page body styling*/
	.block-align{
		margin-bottom: 200px;
	}
	/*end of page body styling*/





	/*about us block*/
	.build-row{
		padding-top: 90px;
	}
	.about-content{
		padding: 0px 15px;
	}

	.about-info-block{
		-webkit-box-shadow: 0 0 30px rgb(248,248,248);
		box-shadow: 0 0 30px rgb(248,248,248);
		-moz-box-shadow: 0 0 30px rgb(248,248,248);
		min-height: 340px;
	}
	.info-block img {
		padding: 20px 0;
		width: 40px;
	}
	.info-block p {
		padding: 0px 30px; 
	}
	hr {
		max-width: 200px;
	}
	.info-block p {
		padding: 0px 30px;
	}
	.about-row .info-block:hover .svg-black {
		fill: #A9FD00;
		stroke: #A9FD00;
	}
	.about-row .info-block:hover .heading-level-3{
		color:#415CB3 !important;
		transition :ease-in-out 0.5s;
	}
	.about-info-block #Capa_1 {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	/*end of about us block*/





	/*services block styling*/

	.services-row{
		margin-left: 13% !important;
		margin-right: 13% !important;
	}
	.services-row .info-content p {
		padding-left:164px;
		padding-right:164px;
	}
	.services-info-block img {
		width: 50px;
		padding-bottom: 20px;
	}
	.services-row  #Capa_1 {
		margin: 30px auto;
	}
	.services-row #Layer_1 {
		margin: 30px auto;
	}
	.services-info-block{
		padding:20px 5px 5px 5px;
		min-height: 250px;
	}

	.services-row .col-md-4:nth-child(3n) {
		border-left: 1px solid #EFE5D5;
		border-right: 1px solid #EFE5D5;
		transition :ease-in-out 0.5s;
	}
	.services-row .col-md-4:nth-child(-n+4) {
		border-bottom: 1px solid #EFE5D5;
		transition :ease-in-out 0.5s;
	}
	.services-row .col-md-4:hover{
		-webkit-box-shadow: 0px 5px 50px #555;
		box-shadow:0px 5px 50px #555;
		-moz-box-shadow:0px 5px 50px #555;
		border-color:transparent;

	}
	.services-row .col-md-4:hover .heading-level-3{
		color:#A9FD00 !important;
		transition :ease-in-out 0.5s;
	}
	.services-row .col-md-4:hover .svg-black{
		fill:#A9FD00;
		stroke:#A9FD00;
	}
	/*end of services block styling*/






	/*portfolio page styling*/
	#portfolio{
		margin-right: 0;
		margin-left: 0;
	}
	.portfolio-row .col-md-3{
		padding: 0
	}
	.portfolio-row .home-menu{
		padding-top: 0;
	}
	.portfolio-info-block img {
		width: 313px;
		max-height: 300px;
	}
	/*hover effects*/
	.portfolio-info-block {
		position: relative;
		width: 313px;
		margin-bottom: 15px;
		margin: auto;
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .5s ease;
		background-color: #415CB3;
	}
	.portfolio-info-block:hover .overlay {
		opacity: 0.5;
	}
	.text {
		color: white;
		font-size: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
	}
	/*end of porfolio page styling*/






	/*our process styling*/
	.process-blocks{
		display: flex;
	}
	.process-info-block{
		-webkit-box-shadow: 0 0 30px rgb(246,246,246);
		box-shadow: 0 0 30px rgb(246,246,246);
		-moz-box-shadow: 0 0 30px rgb(246,246,246);
		max-width: 350px;
		min-height: 260px;
	}
	.process-info-block img{

	}

	.btw-line{
		width: 70px;
		margin-top: 117px;
		background: #415CB3;
	}
	.process-info-block #Capa_1 {
		margin: 30px auto;
	}
	/*end of our process styling*/






	/*clients page styling*/
	.clients-row{
		margin-bottom: 50px;
	}
	.clients-info-block img {
		max-width: 120px;
		max-height: 120px;
		transition: transform 1s;
	}
	.clients-info-block img:hover {
		-ms-transform: scale(0.4);
		-webkit-transform: scale(0.4);
		transform: scale(0.9);
		z-index: 100;
	}
}
/*client hover effect*/
.clients-info-block {
	width: 100px;
	height: 96px;
	border-radius: 50%;
	margin-left: 40px;
}
.clients-row .col-md-3{
	margin-bottom: 35px;
}

/*end of clients page styling*/





/*testimonilas page styling*/
.testimonials-row .heading-level-3 {
	padding: 30px 20px 5px 20px;
}
.test-info-block{
	padding:0px 50px;

}
.test-info-block .info-block{
	-webkit-box-shadow: 0 0 30px rgb(248,248,248);
	box-shadow: 0 0 30px rgb(248,248,248);
	-moz-box-shadow: 0 0 30px rgb(248,248,248);
	min-height: 250px;
}
.test-info-block hr{
	width: 180px;
	margin-bottom: 15px !important;
}
/*end of testimonils page styling*/





/*contact us styling*/
.contact-row{
	margin-bottom: 100px
}
.contact-row .info-content p {
	padding:0px 0px 50px 0;
}
.contact-row .info-content .user-info{
	margin: 0 200px;
}
.user-info span {
	float: left;
	padding: 10px 0;
	color:green;
}
.input-field{
	font-size: 13px;
	font-weight: 600;
	border: 1px solid transparent;
	height: 55px;
	width: 100%;
	padding: 5px 42px;
	border-radius: 4px;
	box-shadow: 0px 2px 10px #9e9e9e;
	outline: none;
	margin-bottom: 20px;
}
.input-field:hover{
	box-shadow: 0px 2px 20px #555;
}
.input-field::placeholder{
	color:#c2c2c2;
}
.comment-block{
	font-size: 13px;
	font-weight: 600;
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 0px 2px 10px #9e9e9e !important;
	padding-left: 42px;
	padding: 20px 42px;
	margin: 0 0 30px 0;
}
.comment-block:hover, .comment-block:focus{
	box-shadow: 0px 2px 10px #EAE0D0;
	border: 1px solid transparent;
}
.comment-block::placeholder{
	color:#c2c2c2;
}
/*end of contact us styling*/


.margin-bottom-5{
	margin-bottom:5px;
}